/* In order to limit the screen size of the debugger, the "no mobile" confiurations are implemented. */
#no-mobile {
  color: azure;
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: #ff8c00;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

@media screen and (max-width: 500px) and (min-height: 880px) {
  #no-mobile {
    display: none;
  }
}
