@import "Configurations/reset.css";
@import "Configurations/variables.css";
@import "Configurations/main-style.css";
@import "Configurations/nav-bar.css";
@import "Configurations/no-mobile.css";

/* as in all the other screens,the status bar will be displayed here on the friends screen */
.status-bar {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14.1px;
  width: 97%;
}
.status-bar__column:first-child span {
  margin-right: 4px;
}
.status-bar__column:nth-child(2) span {
  margin-right: 40px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 25px 15px 25px;
}
.friends-header {
  font-size: 25px;
  font-weight: 600;
}
.icon-header span {
  margin-left: 25px;
  position: relative;
}
.red-dot-gear {
  height: 7px;
  width: 7px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#friends-names-display {
  text-align: center;
  display: block;
  background-color: #f2f2f2;
  padding: 15px 0px;
}
#name-display {
  color: black;
  font-weight: 500;
}
.user-component__column-top {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid gainsboro;
  margin: 0px 20px;
}
.user-component__column-top img {
  width: 90px;
  height: 130px;
  border-radius: 50px;
}
.user-component__name {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: larger;
  font-weight: bold;
}
.user-component__column-bottom {
  padding: 15px 28px;
}
.channel_header {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
}
.channel_main {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.channel_main-icon {
  height: 49px;
  width: 49px;
  border-radius: 13px;
  background-color: #ff8c00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label {
  margin-left: 15px;
  font-weight: bold;
}
.notice {
  margin-left: 296px;
  opacity: 0.6;
}
.fa-chevron-right {
  margin-left: 3px;
  opacity: 0.6;
}
.channel_main-label {
  display: flex;
  justify-content: space-between;
}

/* animations */
@keyframes rotateGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.icon-header .fa-gear:hover {
  animation: rotateGear 1.5s linear infinite;
}
