@import "Configurations/reset.css";
@import "Configurations/variables.css";
@import "Configurations/main-style.css";
@import "Configurations/nav-bar.css";
@import "Configurations/no-mobile.css";

/* as in all the other screens,the status bar will be displayed here on the friends screen */
.status-bar {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14.1px;
  width: 97%;
  height: 38px;
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
}
.status-bar__column:first-child span {
  margin-right: 4px;
}
.status-bar__column:first-child i {
  margin-right: 4px;
}
.status-bar__column:nth-child(2) span {
  margin-right: 40px;
}
.status-bar__column {
  margin-bottom: 10px;
}
.main-header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 25px 15px 25px;
}
.friends-header {
  font-size: 25px;
  font-weight: 600;
}
.icon-header span {
  margin-left: 25px;
}

#friends-names-display {
  text-align: center;
  display: block;
  background-color: #f2f2f2;
  padding: 15px 0px;
}
#name-display {
  color: black;
  font-weight: 500;
}
.user-component__column-top,
.user-component__column-top-two,
.user-component__column-top-three,
.user-component__column-top-four {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid gainsboro;
  margin: 0px 20px;
}
.user-component__column-top img,
.user-component__column-top-two img,
.user-component__column-top-three img,
.user-component__column-top-four img {
  width: 90px;
  height: 130px;
  border-radius: 50px;
}
.user-component__name {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: larger;
  font-weight: bold;
}
.user-component__column-bottom {
  padding: 15px 28px;
}
.channel_header {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
}
.channel_main {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.channel_main-icon {
  height: 49px;
  width: 49px;
  border-radius: 13px;
  background-color: #ff8c00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label {
  margin-left: 15px;
  font-weight: bold;
}
.notice {
  margin-left: 296px;
  opacity: 0.6;
}
.fa-chevron-right {
  margin-left: 3px;
  opacity: 0.6;
}
.channel_main-label {
  display: flex;
  justify-content: space-between;
}

/* animations */
@keyframes rotateGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes magnify {
  from {
    transform: none;
  }
  to {
    transform: scale(1.3);
  }
}

.icon-header .fa-magnifying-glass:hover {
  animation: magnify 1s linear forwards;
}
.icon-header .fa-gear:hover {
  animation: rotateGear 1.5s linear infinite;
}

/* Animating the Splash Screen */
#splash-screen {
  background-color: #ff8c00;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 0.7s;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
