@import "Configurations/reset.css";
@import "Configurations/variables.css";
@import "Configurations/main-style.css";
@import "Configurations/no-mobile.css";

.status-bar {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14.1px;
  width: 97%;
  height: 38px;
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
}
.status-bar__column:first-child span {
  margin-right: 4px;
}
.status-bar__column:first-child i {
  margin-right: 4px;
}
.status-bar__column:nth-child(2) span {
  margin-right: 40px;
}
.status-bar__column {
  margin-bottom: 10px;
}
.welcome-header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.welcome-header__title {
  margin-top: 80px;
  margin-bottom: 30px;
  color: darkorange;
  font-size: x-large;
}
.welcome-header__subtitle {
  font-weight: 300;
  width: 60%;
  opacity: 0.7;
  margin-bottom: 40px;
}
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 35px;
}
#login-form input {
  border: none;
  padding: 15px 0px;
  margin-bottom: 15px;
  font-size: 13px;
}
#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
#login-form input:hover {
  border-color: var(--kokoa-color);
}
#login-form input[type="submit"] {
  cursor: pointer;
  background-color: var(--kokoa-color);
  opacity: 0.9;
}
#login-form input[type="submit"]:hover {
  font-size: 15px;
}
#login-form a {
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  color: var(--kokoa-color);
  opacity: 0.8;
}
#login-form a:hover {
  font-size: large;
  color: var(--kokoa-color);
  opacity: 2;
}
p {
  margin-top: 7px;
  text-align: center;
  font-size: small;
  opacity: 0.6;
}
#splash-screen {
  background-color: #ff8c00;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 2s ease-in-out forwards;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
